<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
</head>
  <body>
    <h3>Welcome To Payment Gateway</h3>
      <form action="createsession" method="POST">
        <script 
            src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="pk_test_51LI5XNSDIUNe90tXmufiauCZl9Dwv72lkIQLBDer0gBbmTHWokxQ4KQEGhXLx4zSZOsfeGJASzoC69XjKpjfuC6900VNzcp4zk"
            data-amount="500"
            data-currency="inr"
            data-name="Food App"
            data-description="Buy Food Plan"
            data-locale="auto"
        ></script>
        <!-- <button type="submit" id="checkout-button">Checkout</button> -->
      </form>
  </body>
</html>